@model Model.transac

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>transac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.compte.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compte.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type.type1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.type1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
